<ion-header>
  <ion-toolbar>
    <ion-title>StairBnb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "login">
    <ion-item>
      <ion-label color="primary">UserName: </ion-label>
      <ion-input type="text" placeholder="Enter Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Password: </ion-label>
      <ion-input type="password" placeholder="Enter Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button color="dark" (click)="enterExplore()">Enter</ion-button>
      <ion-button color="dark" (click)="enterLogin()">Register</ion-button>
    </ion-item>
  </div>
</ion-content>
