<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>StairBnb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "background" color = "tertiary">
  <form class = "form">
    <ion-item>
      <ion-label color="dark">Email: </ion-label>
      <ion-input type="text" name="email" placeholder="Enter Email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Password: </ion-label>
      <ion-input type="password" name="password" placeholder="Enter Password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </form>
  <div class = "buttons">
    <ion-button class="button" color="primary" (click)="enterExplore()">Enter</ion-button>
    <ion-button class="button" color="primary" (click)="enterLogin()">Register</ion-button>
    </div>
</ion-content>
