
.form {
    padding: 10px;
    margin-top: 50%;
    font-family: 'Poiret One', cursive;
}

ion-item{
    padding: 10px;
    margin: auto;
}

.buttons {
    margin-left: 25%;
}

.background {
    height: 100%;
    display: block;
}

