<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/tab1"></ion-back-button>
  </ion-buttons>  
    <ion-title>
      Trips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> <h2>Your Trips</h2> 
    <ion-item 
      *ngFor="let rental of rentals"
      (click)="enterRental(rental)" >
      {{rental.name}}
    </ion-item>
  </ion-list>
    <div *ngIf="(rentals.length === 0)">
      <h3>No upcoming trips</h3>
      <ion-text>Start exploring ideas for your next trip.</ion-text>
      <ion-button color="primary" (click)="enterExplore()">Explore StairBnb</ion-button>
  </div>
</ion-content>
