<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-back-button defaultHref="tab/tabs/tab1"></ion-back-button>
    </ion-buttons>  
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h2 id="name"*ngIf="user"><b>{{user.name}}</b></h2> 
    <ion-avatar class="avatar" slot="end">
        <img src= "https://lh3.googleusercontent.com/KYbTbDZH1tRTf9PmZEyu3ixm10YiDf_whuHkRw8a7KVoHkCtlE19YWYL_-TX9otZ-dbUL-nt1k21ke6q_hPqb_vUjNKbVUXlQlxrHwI299H7M53-tFz7yrN5gPMpzOOxo7abQ4fKsilOmRQOX0HtznhtQwxblT8Qf9u0WmuFy0-1JdKrhNdnWpsXfXqIoL87RStGJDvOylWYrNxnNHxKxJpWKgZ6yYAFgmEG6EFUj4mPni1vJXnqN-xGgvjbRtbKH471n58YL5D2rj6bY_8iN-ErR4WaXmSJtZpzVq3uwQsdyYxnKVXYWGe3kcxFARSbuANAUq296z7MY5pZCyO-4-2PluSMhe1LDuU0TqjPWLMpkWd4u79duTfifIQ5fhPH05gG_rDGmek9hTF-PNUPlTDS8TjRiMiWFmb3m-LgeNeSb96KA2bzjiTtpPQDUdJpg4Hkz7Tf24kzevjbCxK5lXeejkCy78_zI_XgSSVRVmua7u3whNzNTRHmHntHDF_3UJm5PjPHN6yxN9AYv9-MYexUAtOypzCK14FsP75BwRSv6OsUmyFQUlB7QHnY4SQX2wj9kzZ7A3_7-7k6HerJVVnZH5CwPQl1NpQcsJh_wWbqzK8v8LqH0OPaKOPr116YwaTzhKCVQoUTDkuK5g8WAO3dxRQOB-1pGkQBRGurcN0Hi-oKpHKdeUWAkV4arDknN4ZBG0Q3RtzUuTUIXN-kChVm=w713-h950-no"/>
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-label id="email">Email: </ion-label> 
    <ion-text slot="end">{{user.email}}</ion-text>
  </ion-item>
  <!-- <ion-item>
    <ion-label id="pNumber">Phone Number: </ion-label> 
    <ion-text slot="end">(267) 319-3212</ion-text>
  </ion-item> -->
  <ion-item>
      <ion-label id="bookings">Number of Bookings Made: </ion-label> 
      <ion-text slot="end">0</ion-text>
    </ion-item>
  <ion-item>
    <ion-label id="numReveiws">Number of Reviews Received: </ion-label> 
    <ion-text slot="end">1</ion-text>
  </ion-item>
    <ion-list lines="none">
      <ion-item>
          <ion-icon class="thumbs" name="thumbs-up"></ion-icon>        
          <ion-label class="reviewer"> Anina Ku</ion-label>
          <br>
        <ion-text>Wow, she's so good.</ion-text>
      </ion-item>
    </ion-list>
</ion-content>
