<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/tab1"></ion-back-button>
  </ion-buttons>  
    <ion-title>
      Rentals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> <h2>Your Rentals</h2> 
    <ion-item 
      *ngFor="let rental of rentals"
      (click)="enterRental(rental)" >
      {{rental.name}}
    </ion-item>
  </ion-list>
  <ion-button color="primary" (click)="createRental()">Create New Rental</ion-button>
</ion-content>
