ion-datetime {
  border: 1px solid;
  border-color: #86888f;
  margin: 5px;
}

ion-list {
  border: 1px solid;
  border-top: none;
  border-color: #86888f;
  margin: 5px;
}

div {
  margin: 5px;
  padding: 5px;
}
