<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tab/tabs/tab1"></ion-back-button>
      </ion-buttons>  
    <ion-title>
      Saved
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list> <h2>Your Saved Rentals</h2> 
      <ion-item 
        *ngFor="let rental of savedRentals"
        (click)="enterRental(rental)" >
        {{rental.name}}
      </ion-item>
    </ion-list>
  <div class="button">
    <ion-button color="dark" (click)="enterExplore()">Find Homes</ion-button>
  </div>
</ion-content>
