<ion-header>
  <ion-toolbar color = "tertiary">
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="location">
    <br>
    <ion-label>Location</ion-label>
    <br>
    <ion-searchbar placeholder="Search for Location" autocomplete="on" autocorrect="on" (ionInput)="getItems($event.target.value)"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of items">
          {{item}}
        </ion-item>
      </ion-list>
    </div>
    <br>
  <div class = "dates">
    <ion-label>Check-in</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" placeholder="MMM DD, YYYY"></ion-datetime>
    <ion-label>Checkout</ion-label>
    <ion-datetime display-format="MMM DD, YYYY" placeholder="MMM DD, YYYY"></ion-datetime>
  </div>
  <div class = "guests">
    <ion-label>Guests</ion-label>
    <ion-select placeholder="Select One">
    <ion-select-option value="1">1</ion-select-option>
    <ion-select-option value="2">2</ion-select-option>
    <ion-select-option value="3">3</ion-select-option>
    <ion-select-option value="4">4</ion-select-option>    
    <ion-select-option value="5">5</ion-select-option>
    <ion-select-option value="6+">6+</ion-select-option>
    </ion-select>
  </div>
</ion-content>
